apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "auth": "admin:70p53cr37",
      "url": "http://grafana.grafana.svc/"
    }
